.display-4 {
  font-size: calc(3rem + 2.7vw);
  font-weight: 500;
  line-height: 5.2;
  padding-top: 10px;
  margin: 20px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
